.submission-contain {
    background-image: url('https://papers.co/wallpaper/papers.co-sk13-cute-blue-blur-gradation-35-3840x2160-4k-wallpaper.jpg');
    background-size: cover;
    /* Ensures the image covers the entire container */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 600px;
}