.class-table-container {
    .table {
        margin-left: 250px;
        width: 80%;
        height: 700px;
    }

    background-image: url('https://gcs.tripi.vn/public-tripi/tripi-feed/img/474070FOf/anh-nen-powerpoint-hoc-tap-cute_093919431.jpg');
    background-size: cover;
    /* Ensures the image covers the entire container */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    padding: 50px;

}